body {
    font-family: Arial, sans-serif;
    background-color: #DFF2EB;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.news-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.news-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.news-item:last-child {
    border-bottom: none;
}

.news-title {
    font-size: 1.5rem;
    color: #3498db;
    text-decoration: none;
    cursor: pointer;
}

.news-title:hover {
    text-decoration: underline;
}

.news-image{
    align-items: center;
}